<div cg-busy="{ promise: promise }">
	<div class="fix-title-bar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<i class="fas fa-chart-line" style="padding-right: 10px;"></i>Market Index K-Line
				</a>
			</div>
			<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
				<ul class="nav navbar-nav">
					<li><a ng-click="showMarketIndexView()"><i class="fas fa-square" style="padding-right: 10px;"></i>Market Line</a></li>
					<li><a ng-click="showTradeView()"><i class="fas fa-square" style="padding-right: 10px;"></i>Trade View</a></li>
					<li><a ng-click="showTradeTable()"><i class="fas fa-square" style="padding-right: 10px;"></i>Trade Table</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="fix-content">
		<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="3000" close="closeAlert($index)">{{alert.msg}}</div>
		<div class='klne-filters'>
			<div class="btn-group market-dropdown" uib-dropdown is-open="market_dropdown.isopen">
				<button id="market-dropdown" type="button" class="btn btn-default"  uib-dropdown-toggle ng-disabled="disabled">
					Market: {{ selectedMarket.title }}<span class="caret" style="margin-left: 5px;"></span>
				</button>
				<div class="dropdown-menu row" uib-dropdown-menu role="menu" aria-labelledby="market-dropdown">
					<div role="menuitem" class="symbol-dropdown-item col-xs-12"><a ng-click="showMarketIndex()"><i class="fas fa-square" style="padding-right: 10px;"></i>Aggregate</a></div>
					<div class="divider col-xs-12"></div>
					<div role="menuitem" class="symbol-dropdown-item col-xs-12" ng-repeat="market in markets"><i class="fas fa-square" style="padding-right: 10px;"></i><a ng-click="switchMarket(market)">{{ market.title }}</a></div>
				</div>
			</div>	
			<div class="btn-group symbol-dropdown" uib-dropdown is-open="symbol_dropdown.isopen">
				<button id="symbol-dropdown" type="button" class="btn btn-default"  uib-dropdown-toggle ng-disabled="disabled">
					Symbol: {{ selectedSymbol.title }}<span class="caret" style="margin-left: 5px;"></span>
				</button>
				<div class="dropdown-menu row" style="width: 480px;" uib-dropdown-menu role="menu" aria-labelledby="symbol-dropdown">
					<div class="col-xs-4 symbol-dropdown-item" role="menuitem" ng-repeat="symbol in symbols"><i class="fas fa-square" style="padding-right: 10px;"></i><a ng-click="switchSymbol(symbol)">{{ symbol.title }}</a></div>
				</div>
			</div>
		</div>
		<div id="kline-chart" style="margin-left: auto; margin-right: auto; width: 98%; height: 480px;"></div>
	</div>
</div>
