<div style="text-align: center; margin-bottom: 10px;">
	<h2>for testing...</h2>
</div>
<div style="text-align: center; margin-bottom: 10px;">
	<button class="btn btn-default" ng-click="openKline()">Market Index K-Line</button>
</div>
<div style="text-align: center; margin-bottom: 10px;">
	<button class="btn btn-default" ng-click="openTvKline()">Market Index TradingView K-Line</button>
</div>
<div style="text-align: center; margin-bottom: 10px;">
	<button class="btn btn-default" ng-click="openTradeTable()">Currency Trade Table</button>
</div>
