<div cg-busy="{ promise: promise }">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<i class="fas fa-chart-line" style="padding-right: 10px;"></i>Market Index K-Line
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li><a class="navbar-item" ng-click="switchSymbol('btcusdt')"><i class="fas fa-square" style="padding-right: 10px;"></i>BTC - USDT</a></li>
				<li><a class="navbar-item"  ng-click="switchSymbol('ethbtc')"><i class="fas fa-square" style="padding-right: 10px;"></i>ETH - BTC</a></li>
				<li><a class="navbar-item"  ng-click="switchSymbol('eosbtc')"><i class="fas fa-square" style="padding-right: 10px;"></i>EOS - BTC</a></li>
			</ul>
		</div>
	</nav>
	<div class="content">
		<div id="kline-chart" style="margin-left: auto; margin-right: auto; width: 98%; height: 480px;"></div>		
	</div>
</div>
